

::ng-deep .mat-mdc-slide-toggle.mat-accent {
    --mdc-switch-selected-focus-state-layer-color: #4caf50;
    --mdc-switch-selected-handle-color: #4caf50;
    --mdc-switch-selected-hover-state-layer-color: #4caf50;
    --mdc-switch-selected-pressed-state-layer-color: #4caf50;
    --mdc-switch-selected-focus-handle-color: #4caf50;
    --mdc-switch-selected-hover-handle-color: #4caf50;
    --mdc-switch-selected-pressed-handle-color: #4caf50;
    --mdc-switch-selected-focus-track-color: #4caf50;
    --mdc-switch-selected-hover-track-color: #4caf50;
    --mdc-switch-selected-pressed-track-color: #4caf50;
    --mdc-switch-selected-track-color: #4caf50;
}